.button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  .set-font-size(@base-size, @line);
  .set-uppercase-style();
  color: @bg-base;
  text-decoration: none;
  text-align: center;

  background-color: @bg-main;
  border: none;

  &:hover {
    background-color: @bg-main-hvr;
  }

  &:active {
    color: @bg-base-down;
  }
}

.button--grey {
  background-color: @bg-secondary;
  color: @text-color;

  &:hover {
    background-color: @bg-secondary-hvr;
  }

  &:active {
    color: @text-color-down;
  }
}
