.button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  .text-size(16px, 20px);
  .title-style();
  color: @bg-color-1;
  text-decoration: none;
  text-align: center;

  background-color: @bg-color-3;

  &:hover {
    background-color: @bg-color-3-hvr;
  }

  &:active {
    color: @bg-color-1-down;
  }
}

.button--grey {
  background-color: @bg-color-2;
  color: @text-color;

  &:hover {
    background-color: @bg-color-2-hvr;
  }

  &:active {
    color: @text-color-down;
  }
}
