.categories {
  width: 320px;
  margin: 0 auto;
}

.categories__wrapper {
  width: 280px;
  margin: 0 auto;
}

.categories__list {
  .list-reset();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories__item {
  padding: 35px 20px 20px 20px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  background-color: @bg-lightgrey;
}

.categories__title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 92px;

  .set-uppercase-style();
  .set-font-size(@medium-size, 37px);
}

.categories__text {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 20px;

  border-bottom: @border;
}

.categories__link {
  .set-uppercase-style();
  .set-font-size(@base-size, @base-size);
  text-decoration: none;
  color: @title-color;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .categories {
    width: auto;
    margin-bottom: 50px;
  }

  .categories__wrapper {
    width: 706px;
    margin: 0 auto;
  }

  .categories__item {
    padding: 75px 282px 60px 52px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .categories {
    margin-bottom: 80px;
  }

  .categories__wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .categories__list {
    width: 1220px;
    flex-direction: row;
  }

  .categories__item {
    width: 570px;
    padding: 80px 50px 60px 52px;
    margin: 0;
  }
}
