.copyright {
  padding-top: 20px;
}

.copyright__link {
  .text-size(16px, 16px);
  text-decoration: none;
  color: @text-color;

  &:hover path {
    fill: @bg-color-3;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  width: 42px;
  height: 42px;
}
