.copyright {
  padding-top: 20px;
}

.copyright__link {
  .text-size(16px, 16px);
  text-decoration: none;
  color: @text-color;

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.copyright__logo {
  width: 28px;
  height: 35px;
}
