.example {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 40px;

  background-color: @bg-lightgrey;
  // for layout
  min-height: 705px;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
}

.example__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 30px 20px;

  .set-font-size(@title-size, @line*3);
  .set-heading-style();
}

.example__text {
  margin: 0;
  padding-right: 10px;
}

.example__category {
  .set-font-size(@line*0.6, @line*0.6);
}

.example__value {
  .set-font-size(@medium-size, @medium-size);
  .set-uppercase-style();
}

.example__costs {
  .set-font-size(@line*0.7, @line);
  .set-uppercase-style();
}

@media (min-width: @tablet-width) {
  .example {
    // for layout
    min-height: 1085px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    // for layout
    min-height: 675px;
  }
}
