.extra-catalog {
  position: relative;
  width: auto;
  margin-bottom: 35px;

  &::before {
    content: "";
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    height: 3px;
    z-index: 1;

    background-color: @bg-main;
  }
}

.extra-catalog__wrapper {
  display: flex;
  flex-direction: column;
  width: 88%;
  margin: 0 auto;
}

.extra-catalog__main-title {
  align-self: flex-start;
  position: relative;
  left: -21px;
  margin: 0;
  padding: 28px 21px 33px;
  z-index: 2;

  .set-heading-style();
  .set-font-size(@medium-size, @medium-size);
  color: @title-color;

  background-color: @bg-base;
}

.extra-catalog__list {
  .list-reset();
  margin-bottom: 39px;
}

.extra-catalog__item {
  padding-bottom: 17px;

  border-bottom: @border;

  &:first-child {
    border-top: @border;
  }
}

.extra-catalog__title {
  margin: 0;
  padding: 14px 0 0 2px;

  .set-font-size(@base-size, @base-size);
  .set-uppercase-style();
  color: @subtitle-color;
}

.extra-catalog__info {
  display: flex;
  justify-content: space-between;
  margin: 13px 0 14px;
  .set-font-size(@line*0.7, @line*0.7);
  color: @text-color;
}

.extra-catalog__gift {
  position: relative;
  min-height: 290px;
  padding-top: 187px;
  padding-left: 56px;
  padding-right: 58px;

  text-align: center;
  color: @bg-base;
  .set-font-size(@base-size, @line);

  background-color: @bg-main;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: "";

    position: absolute;
    top: 65px;
    left: calc(50% - 28px);

    width: 56px;
    height: 60px;

    background-image: url("../img/gift-icon.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-resolution: @retina-dppx) {
  .extra-catalog__gift {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.extra-catalog__gift p {
  width: 162px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .extra-catalog {
    width: auto;
    margin-bottom: 75px;

    &::before {
      top: 88px;
    }
  }

  .extra-catalog__wrapper {
    width: 92.2%;
  }

  .extra-catalog__main-title {
    left: 0;
    padding: 66px 36px 80px;

    .set-font-size(@title-size, @title-size);
  }

  .extra-catalog__list {
    margin-bottom: 70px;
  }

  .extra-catalog__item {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 25px 37px 27px;
    margin-bottom: -1px;

    border: @border;
  }

  .extra-catalog__title {
    width: 40.5%;
    margin-right: auto;
    padding: 0;

    .set-font-size(@line, @line);
  }

  .extra-catalog__info {
    justify-content: flex-end;
    width: 40.5%;
    margin: 0;
    margin-bottom: 22px;

    .set-font-size(@base-size, @line);
  }

  .extra-catalog__quantity {
    width: 63%;
    text-align: right;
  }

  .extra-catalog__price {
    width: 37%;
    margin-left: 0;

    text-align: right;
  }

  .extra-catalog__link {
    width: 100%;
  }

  .extra-catalog__gift {
    min-height: 200px;
    padding: 72px 120px 70px 59.5%;

    text-align: left;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-position: center top;
    background-size: cover;

    &::after {
      left: 12.5%;
    }
  }

  @media (min-resolution: @retina-dppx) {
    .extra-catalog__gift {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .extra-catalog {
    margin-bottom: 86px;

    &::before {
      top: 98px;
    }
  }

  .extra-catalog__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
  }

  .extra-catalog__main-title {
    left: -38px;
    padding-top: 76px;
  }

  .extra-catalog__list {
    width: 895px;
    margin-bottom: 0;
  }

  .extra-catalog__item {
    display: flex;
    justify-content: space-between;

    padding: 13px 0 15px;
    border: none;
    border-top: @border;

    &:last-child {
      border-bottom: @border;
    }
  }

  .extra-catalog__title {
    width: 285px;
    padding-top: 12px;
    margin: 0;

    .set-font-size(@line, @line);
  }

  .extra-catalog__info {
    justify-content: space-between;
    width: 285px;
    margin-top: 14px;
    margin-bottom: 8px;

    .set-font-size(@base-size, @line);
  }

  .extra-catalog__quantity {
    width: auto;
  }

  .extra-catalog__price {
    width: auto;
    min-width: 40px;
    margin-left: 0;

    text-align: left;
  }

  .extra-catalog__link {
    align-self: center;
    width: 245px;
  }

  .extra-catalog__gift {
    width: 245px;
    height: auto;
    padding: 186px 42px 42px 38px;

    text-align: center;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    &::after {
      top: 63px;
      left: 95px;
    }
  }

  @media (min-resolution: @retina-dppx) {
    .extra-catalog__gift {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}
