.extra-catalog {
  .container(20px);
  margin-bottom: 35px;
}

.extra-catalog__main-title {
  margin: 0;
  margin-top: 28px;
  padding-bottom: 32px;

  .title-style(normal, none);
  .text-size(24px, 24px);
  color: @title-color;

  border-bottom: @border;
}

.extra-catalog__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.extra-catalog__item {
  padding-bottom: 17px;

  border-bottom: @border;
}

.extra-catalog__title {
  .text-size(16px, 16px);
  .title-style();
  color: #222222;
}

.extra-catalog__info {
  .text-size(14px, 14px);
  color: @text-color;
}

.extra-catalog__gift {
  height: 290px;
  box-sizing: border-box;
  padding-top: 185px;
  padding-left: 60px;
  padding-right: 60px;

  text-align: center;
  color: @color-1;
  .text-size();

  background-color: @button-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.extra-catalog__gift p {
  margin: 0;
  padding: 0;
}
