.form {
  margin-bottom: 33px;
}

.form__container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: auto;
}

.form__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 88%;
  margin: 0 auto;
}

.form__fieldset {
  width: 87.5%;
  margin: 0 auto;
  padding: 0;
  border: none;
}

.form__fieldset--inputs {
  padding: 20px 0 24px;
}

.form__fieldset--radios {
  width: 100%;
  padding: 20px 6.25%;

  border: @border-form;
}

.form__fieldset--line {
  position: relative;
  padding: 0;
  width: auto;

  &::before {
    content: "";
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    height: 3px;

    z-index: 1;
    background-color: @bg-main;
  }
}

.form__title {
  position: relative;
  left: -20px;
  max-width: 220px;
  margin: 0;
  padding: 29px 19px 33px;
  z-index: 2;

  .set-font-size(@medium-size, @medium-size);
  .set-heading-style();
  color: @text-color;
  background-color: @bg-base;
}

.form__label {
  display: flex;
  align-items: center;
  width: 100%;

  .set-font-size(@base-size, @line*0.9);
  .set-uppercase-style();
  color: @subtitle-color;
}

.form__label--input {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label--radio {
  position: relative;

  padding: 5px 20px 8px 45px;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label--checkbox {
  position: relative;

  padding: 7px 20px 6px 45px;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 35px;
  }
}

.form__input {
  flex-grow: 1;

  height: 45px;
  padding-left: 14px;
  margin-left: 16px;

  font: inherit;
  .set-uppercase-style();

  border: @border-form;

  &:invalid {
    border-color: @error-color;
  }

  &:hover {
    border: @border-dark;
  }

  &:active,
  &:focus {
    outline: none;
    border-color: @text-color;
  }
}

.form__input--name {
  margin-left: 14px;
}

.form__input--email {
  margin-left: 12px;
}

.form__input--tel {
  margin-left: 10px;
}

.form__radio,
.form__checkbox {
  height: 30px;
}

.form__radio-indicator {
  position: absolute;
  top: 0;
  left: -2px;

  width: 30px;
  height: 30px;

  border: 1px solid @radio-color;
  border-radius: 50%;

  &::after {
    display: none;
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;

    width: 12px;
    height: 12px;

    background-color: @bg-main;
    border-radius: 50%;
  }
}

.form__radio {
  &:checked ~ .form__radio-indicator::after {
    display: block;
  }

  &:hover ~ .form__radio-indicator {
    border-color: @radio-hvr-color;
  }

  &:active ~ span {
    opacity: 0.3;
  }
}

.form__textarea {
  width: 100%;
  height: 150px;
  padding: 12px 10px 12px 14px;
  margin-top: 2px;

  .set-font-size(@base-size, @line*0.9);
  .set-uppercase-style();
  color: @text-color;

  border: @border-form;

  &:active,
  &:focus {
    border-color: @text-color;
    outline: none;
  }
}

.form__checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;

  border: @border-dark;

  &::after {
    display: none;
    content: "";

    position: absolute;
    top: 3px;
    left: 10px;

    width: 10px;
    height: 18px;

    border-right: 2px solid @bg-main;
    border-bottom: 2px solid @bg-main;

    transform: rotate(45deg);
  }
}

.form__checkbox {
  &:checked ~ .form__checkbox-indicator::after {
    display: block;
  }

  &:hover ~ .form__checkbox-indicator {
    border-color: @chbx-hvr-color;
  }

  &:active ~ span {
    opacity: 0.3;
  }
}

.form__submit {
  width: 100%;
  margin: 0 auto 21px;
}

.form__footnote {
  margin: 0 auto;
  .set-font-size(@line*0.7, @line*0.8);
}

@media (min-width: @tablet-width) {
  .form {
    margin-bottom: 71px;
  }

  .form__wrapper {
    justify-content: space-between;
    width: 83%;
    margin: 0 auto;
  }

  .form__container {
    width: auto;
  }

  .form__title-container {
    width: auto;

    &::before {
      top: 26px;
    }
  }

  .form__fieldset {
    width: 83%;
    padding: 0;
    padding-left: 3px;
    margin-bottom: 72px;

    border: none;
  }

  .form__fieldset--radios {
    width: 82%;
    padding: 24px 30px 22px;

    border: @border-form;
  }

  .form__fieldset--line {
    position: relative;
    width: auto;
    margin-bottom: 62px;

    &::before {
      top: 25px;
    }
  }

  .form__fieldset--adds {
    margin-bottom: 18px;
  }

  .form__title {
    left: -39px;
    max-width: 600px;
    padding: 3px 41px 4px 39px;
    margin-bottom: 73px;

    .set-font-size(@title-size, @title-size);

    background-color: @bg-base;
    z-index: 2;
  }

  .form__title--adds {
    padding-top: 4px;
    margin-bottom: 53px;
  }

  .form__label {
    .set-font-size(@line, @line);
  }

  .form__label--input {
    margin-bottom: 20px;
  }

  .form__label--radio {
    padding: 8px 20px 13px 57px;
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__label--checkbox {
    display: flex;
    height: 40px;
    width: 45.56%;
    padding-left: 59px;
    margin-bottom: 32px;
  }

  .form__input {
    flex-grow: 1;
    padding-left: 18px;
    margin-left: 18px;
    height: 52px;
  }

  .form__input--email {
    padding-left: 21px;
    margin-left: 19px;
  }

  .form__input--tel {
    margin-left: 14px;
  }

  .form__radio-indicator {
    width: 40px;
    height: 40px;

    &::after {
      top: 10px;
      left: 10px;
      width: 18px;
      height: 18px;
    }
  }

  .form__textarea {
    height: 173px;
    margin-top: -1px;
    padding: 14px 18px;
    .set-font-size(@line, @line);
  }

  .form__checkbox {
    padding-left: 60px;
  }

  .form__checkbox-indicator {
    width: 40px;
    height: 40px;

    &::after {
      top: 7px;
      left: 14px;

      height: 20px;
      width: 10px;
    }
  }

  .form__submit,
  .form__footnote {
    width: 45%;
    margin: 0;
  }

  .form__submit {
    padding: 16px 0 18px;
    .set-font-size(@line, @line);
  }

  .form__footnote {
    padding-top: 18px;
    margin-top: 0;
    .set-font-size(@base-size, @base-size);
  }
}

@media (min-width: @desktop-width) {
  .form {
    margin-bottom: 80px;
  }

  .form__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    width: 1220px;
    margin: 0 auto;
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    width: 1220px;
  }

  .form__fieldset {
    width: 570px;
    margin: 0 auto;
    padding: 0;
  }

  .form__fieldset--inputs {
    margin: 0 0 66px;
  }

  .form__fieldset--radios {
    margin: 0 0 66px;
    padding: 25px 28px 22px;
  }

  .form__fieldset--line {
    width: auto;
    margin-bottom: 44px;
  }

  .form__fieldset--adds {
    margin-bottom: 25px;
  }

  .form__title {
    padding-left: 38px;
  }

  .form__textarea {
    margin-bottom: 21px;
  }

  .form__label--input,
  .form__fieldset--radios {
    width: 570px;
  }

  .form__label--checkbox {
    width: 245px;
    padding-top: 4px;
    padding-left: 58px;
  }

  .form__label--radio {
    margin-bottom: 12px;
  }

  .form__submit {
    width: 570px;
  }

  .form__footnote {
    align-self: center;
    width: 570px;
    padding-top: 0;
  }
}
