.main-catalog {
  width: 320px;
  margin: 0 auto;

  // for layout
  min-height: 1672px;
}

@media (min-width: @tablet-width) {
  .main-catalog {
    width: auto;
  }

  .main-catalog__wrapper {
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .main-catalog {
    // for layout
    min-height: 1148px;
  }

  .main-catalog__wrapper {
    width: 1220px;
  }
}
