.main-nav {
  position: relative;
  // for layout
  min-height: 200px;
}

.main-nav__toggle {
  position: absolute;
  top: -45px;
  right: 20px;
}

.main-nav__list {
  .list-reset();
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 460px;
    // for layout
    min-height: 58px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    // for layout
    min-height: 58px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 720px;
    padding-top: 55px;
  }

  .main-nav--index {
    min-height: 696px;

    color: @bg-white;

    background-color: @bg-green;
  }
}
