.set-font-size(@font-size: 16px; @line-height: 20px) {
  font-size: @font-size;
  line-height: @line-height;
}

.set-heading-style() {
  font-family: @title-font;
  font-weight: normal;
}

.set-uppercase-style() {
  font-family: @title-font;
  font-weight: normal;
  text-transform: uppercase;
}

.container(@padding: 20px) {
  padding-left: @padding;
  padding-right: @padding;
}
