.page-main--form {
  // for layout
  min-height: 1830px;
}

.page-main__title {
  width: 320px;
  margin: 0 auto;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;

  // for layout
  min-height: 103px;

  .set-heading-style();
  .set-font-size(@title-size, @line*3);
  color: @title-color;

  border-top: @border;
}

@media (min-width: @tablet-width) {
  .page-main--form {
    // for layout
    min-height: 2470px;
  }

  .page-main__title {
    width: 708px;

    // for layout
    min-height: 135px;
  }
}

@media (min-width: @desktop-width) {
  .page-main--form {
    // for layout
    min-height: 1890px;
  }

  .page-main__title {
    width: 1220px;
    padding-top: 78px;
    padding-left: 3px;
    padding-bottom: 16px;

    // for layout
    min-height: 158px;
  }
}
