.page-footer {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 20px;

  background-color: @bg-lightgrey;
}

.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
}

.page-footer__logo {
  display: block;
  padding-top: 38px;
  padding-bottom: 27px;

  text-align: center;
  border-bottom: @border;
}

.page-footer__social {
  // for layout Уберу позже
  min-height: 65px;
}

.page-footer__copyright {
  // for layout Уберу позже
  min-height: 55px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: auto;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
  }

  .page-footer__logo,
  .page-footer__copyright {
    width: 162px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1220px;
  }
}
