.page-header {
  width: 320px;
  margin: 0 auto;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 65px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  width: 191px;
  height: 38px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: auto;
    padding-top: 24px;
  }

  .page-header__wrapper {
    width: 708px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo {
    height: 58px;
    width: 192px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding-top: 0;
  }

  .page-header__wrapper {
    width: 1440px;
  }

  .page-header__logo {
    height: 60px;
    width: 245px;
    margin-left: 110px;
    margin-top: 55px;
  }
}
