.page-main__title {
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  margin: 0;

  .title-style(normal, none);
  .text-size(@title-size, 60px);
  color: @title-color;

  border-top: @border;
  border-bottom: @border;
}
