.photo-mover {
  position: relative;
  padding-top: 307px;
  padding-bottom: 36px;
}

.photo-mover__image {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 35px;

  width: 320px;
  height: 240px;

  overflow: hidden;

  img {
    flex-shrink: 0;
    max-width: 320px;
    height: 240px;
  }
}

.photo-mover__image--after {
  flex-direction: row-reverse;
  right: calc(50% - 160px);
  width: 0;
}

.photo-mover__image--before {
  left: calc(50% - 160px);

  width: 320px;
}

.photo-mover__image--show {
  width: 320px;
}

.photo-mover__image--no-show {
  width: 0;
}

.photo-mover__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 201px;
  margin: 0 auto;
  padding: 0;
  padding-left: 3px;
}

.photo-mover__label {
  padding: 0;

  .set-font-size(@base-size, @line);
  .set-uppercase-style();

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.photo-mover__bar {
  position: relative;
  width: 84px;
  height: 14px;

  border: @border-dark;
  border-radius: 5px;
  background-color: @bg-base;
}

.photo-mover__runner {
  position: absolute;
  top: 3px;
  left: 7px;
  right: 41px;
  width: calc(50% - 7px);
  height: 6px;
  padding: 0;

  background-color: @bg-main;
  border: none;
  border-radius: 6px;
}

@media (min-width: @tablet-width) {
  .photo-mover {
    width: auto;
    padding-top: 368px;
    padding-bottom: 68px;

    background-color: @bg-secondary;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: calc(50% + 1px);
      bottom: 0;
      z-index: 0;

      background-color: #eaeaea;
    }
  }

  .photo-mover__image {
    position: absolute;
    top: -168px;
    width: 690px;
    height: 517px;

    img {
      width: 690px;
      max-width: 690px;
      height: auto;
    }
  }

  .photo-mover__image--after {
    right: calc(50% - 354px);
    width: 352px;
  }

  .photo-mover__image--before {
    left: calc(50% - 336px);
    width: 338px;
  }

  .photo-mover__image--show {
    width: 690px;
  }

  .photo-mover__image--no-show {
    width: 0;
  }

  .photo-mover__control {
    position: relative;
    align-items: flex-start;
    width: 570px;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
  }

  .photo-mover__label {
    padding-bottom: 6px;
    .set-font-size(@line, @line);

    border-bottom: 1px dotted #bebebe;

    &:hover {
      border-bottom: 1px solid #989898;
    }

    &:active,
    &:focus {
      border: none;
    }

    &:active {
      outline: none;
    }
  }

  .photo-mover__bar {
    width: 426px;
    height: 6px;
    margin-top: 8px;

    border: none;
    background-color: #dcdcdc;
  }

  .photo-mover__runner {
    top: -14px;
    left: calc(50% - 13px);
    width: 33px;
    height: 33px;

    border: 1px solid #cecece;
    border-radius: 50%;
    background-color: @bg-base;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active,
    &:focus {
      border-color: @bg-main;
      outline: none;
    }

    &::after {
      content: "";

      position: absolute;
      top: 12px;
      left: 12px;
      width: 8px;
      height: 8px;

      border-radius: 50%;
      background-color: @bg-main;
    }
  }
}

@media (min-width: @desktop-width) {
  .photo-mover {
    width: 52.77%;
    padding-top: 367px;
    padding-right: calc(53.77% - 664px);
    padding-left: 80px;

    &::before {
      left: 365px;
      right: 0;
    }
  }

  .photo-mover__image {
    top: -190px;
  }

  .photo-mover__image--after {
    left: 365px;
    width: 324px;
  }

  .photo-mover__image--before {
    left: -1px;
    width: 366px;
  }

  .photo-mover__image--no-show {
    width: 0;
  }

  .photo-mover__image--show {
    left: -1px;
    width: 690px;
  }

  .photo-mover__runner {
    left: calc(50% - 15px);
  }
}
