.product {
  padding: 25px 20px;

  border-bottom: @border;
}

.product__link {
  text-decoration: none;
  color: @title-color;
}

.product__title {
  margin: 0;
  padding: 0;

  .title-style();
  .text-size();
}

.product__image {
  width: 140px;
  height: 145px;
}

.product__info {
  .text-size(12px, 16px);
}
