.promo {
  margin-bottom: 23px;

  font-family: @title-font;
  color: @bg-color-1;
  text-align: center;
}

.promo__wrapper {
  min-height: 305px;
  padding-top: 27px;
  box-sizing: border-box;

  background-color: @bg-color-3;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.promo__title {
  margin: 0;
  margin-bottom: 27px;

  .set-font-size(@title-size, @title-size);
  font-weight: normal;
}

.promo__slogan {
  margin: 0;

  .set-font-size(@line*0.7, @line*0.7);
  text-transform: uppercase;
}

.promo__link {
  margin-left: 20px;
  margin-right: 20px;
}
