.site-list__item {
  border-top: @border;
}

.site-list__item a {
  display: block;
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: center;

  .set-uppercase-style();
  .set-font-size(@line, @line);
  font-weight: 500;
  text-decoration: none;
  color: @title-color;

  &[href]:hover {
   opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: flex-end;
  }

  .site-list__item {
    margin-left: 35px;

    &:first-child {
      margin-left: 0;
    }
  }

  .site-list__item a {
    padding-top: 18px;
    padding-bottom: 15px;

    .set-font-size(@line*0.9, 25px);
    font-weight: normal;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    margin-right: 110px;
  }

  .site-list__item a {
    padding-top: 18px;
    padding-bottom: 15px;

    .set-font-size(@line, 25px);
    color: inherit;
  }
}
