@title-font: "Oswald", "Arial", sans-serif;
@base-font: "Arial", "Helvetica", sans-serif;
@line: 20px;
@base-size: @line*0.8;
@medium-size: @line*1.2;
@title-size: @line*1.8;
@border: 1px solid #e6e6e6;
@bg-base: #ffffff;
@bg-base-down: rgba(255, 255, 255, 0.3);
@bg-secondary: #f2f2f2;
@bg-secondary-hvr: #ebebeb;
@bg-main: #68b738;
@bg-main-hvr: #5eaa2f;
@darkgrey: #666666;
@title-color: #111111;
@title-color-hvr: rgba(17, 17, 17, 0.6);
@title-color-down: rgba(17, 17, 17, 0.3);
@subtitle-color: #242424;
@text-color: #444444;
@text-color-down: rgba(68, 68, 68, 0.3);
@tablet-width: 768px;
@desktop-width: 1300px;
@mobile-width-only: 767px;
